<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sunny" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body class="min-h-screen flex flex-col bg-gray-100">
    <header class="bg-blue-600 text-white py-4">
      <div class="container mx-auto flex justify-between items-center px-4">
        <%= link_to "Sunny", root_path, class: "text-2xl font-bold text-yellow-400" %>
        <nav>
          <% if current_user %>
            <%= link_to 'Logout', logout_path, method: :delete, class: 'text-white hover:underline' %>
          <% else %>
            <%= link_to 'Login', login_path, class: 'text-white hover:underline' %>
          <% end %>
        </nav>
      </div>
    </header>

    <div class="flash-messages">
      <% flash.each do |key, message| %>
        <div class="p-4 mb-4 text-sm rounded-lg <%= key == 'notice' ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800' %>">
          <%= message %>
        </div>
      <% end %>
    </div>

    <!-- Main Content -->
    <main class="flex-grow container mx-auto px-5">
      <%= yield %>
    </main>
  </body>
</html>
